* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

/* 랜딩 */
.rendingWrap {
    background-image: url("../img/rending_W.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
}

.rending-container {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18%;
}

.logo img {
    width: 100%;
}

.nicknameWrap {
    display: flex;
    flex-direction: column;
    width: 603px;
    margin-top: 100px;
    display: none;
    opacity: 0;
    align-items: center;
}

.nicknameWrap.opened {
    display: flex;
    animation-name: inputsAni;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes inputsAni {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nicknameWrap #nickname {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 0;
    text-align: center;
    box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
    font-family: 'GmarketSansBold';
    font-size: 18px;
}

.nicknameWrap #nickname:focus {
    outline: none;
}

.Enter {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    box-shadow: 0 1px 10px 1px rgb(0 0 0 / 15%);
    font-family: 'GmarketSansMedium';
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #68d9fc;
}

.Enter:hover {
    color: #fff;
    text-shadow: rgb(0 0 0) 2px 2px 6px;
    background: rgb(80,111,171);
    background: linear-gradient(180deg, rgba(80,111,171,1) 0%, rgba(0,55,128,1) 100%);
}


.loadWrap {
    width: 80%;
    height: fit-content;
    position: absolute;
    z-index: 11;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Progress {
    width: 70%;
    margin: 0 auto;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(200, 211, 219);
}

.Progress .bar {
    height: 100%;
    width: 2%;
    background: rgb(58,208,145);
    background: linear-gradient(90deg, rgba(58,208,145,1) 0%, rgba(40,131,81,1) 36%, rgba(0,24,128,1) 100%);
    position: relative;
    border-radius: 20px 0 0 20px;
    transition: all 0.35s;
}

.percentTxt {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 130%);
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.percentTxt .triangle {
    width: 10px;
    height: 10px;
    background-color: black;
    /* background-color: #fff; */
    position: absolute;
    top: 0;
    left: 48%;
    transform: rotate(45deg) translate(-50%, -20%);
}

/* 채팅 */
.chatting-icon {
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6c6ca9;
    box-shadow: 0 1px 10px 2px rgb(0 0 0 / 40%);
    cursor: pointer;
    z-index: 6;
}

.chatting-icon i {
    color: #fff;
}

.chat-container {
    width: 621px;
    height: 296px;
    background-color: rgb(0 0 0 / 40%);
    text-align: left;
    color: #fff;
    text-shadow: rgb(0 0 0) 2px 2px 2px;
    position: fixed;
    z-index: 5;
    left: 15px;
    bottom: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px 2px rgb(0 0 0 / 40%);
}

.chat-container.close {
    display: none;
}

.chat-container ul {
    min-height: 80%;
    margin: 0 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    overflow-y: scroll;
}

.chat-container ul li {
    padding: 2px 0;
}

.chat-container ul::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(134, 134, 134);
    border-radius: 10px;
}

.chat-container ul::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}

.inputWrap {
    width: 100%;
    height: 100%;
}

.inputWrap input {
    height: 100%;
    width: 100%;
    padding-left: 10%;
    border-radius: 20px;
    border: 0;
}
.inputWrap input:focus {
    outline: none;
}

.emoji {
    width: 75px;
    height: 35px;
    background-color: #3a509f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px 10px 0 0;
    top: 0;
    left: 18px;
    transform: translateY(-100%);
    cursor: pointer;
}

.toggle_emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.emoji i {
    font-size: 20px;
    text-shadow: none;
}
.emojiContainer {
    height: 100%;
    width: 300px;
    transition: all 0.35s;
    background-color: rgb(200, 211, 219);
    position: absolute;
    right: 0;
    transform: translateX(100%);
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #3a509f;
}
.emojiContainer.open {
    display: flex;
}

.emojiContainer span {
    text-shadow: none;
    margin: 0 5px;
    cursor: pointer;
    font-family: 'GmarketSansMedium';
    color: #2f3542;
    padding: 2PX 12PX;
    border-radius: 8px;
}

.emojiContainer span:hover {
    background-color: #3a509f;
    color: #fff;
}

/* 네비게이터 */
.navigate {
    width: 600px;
    height: 60px;
    background-image: url("../img/navigate.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.map {
    position: fixed;
    width: 300px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 4;
}

.map:hover {
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 0.25s;
    transform: translateX(-50%) scale(1.05);
}
.map img {
    width: 100%;
}
.worldtxt {
    display: none;
}

/* 캐릭터 선택 */
.selectingWrap {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%,-50%);
}

.leftArrow, .rightArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.leftArrow:hover, .rightArrow:hover {
    transform: scale(0.95);
}

.leftArrow img, .rightArrow img {
    width: 100%;
}

.selectingWrap .select {
    background-color: #68d9fc;
    border: 0;
    font-family: 'GmarketSansMedium';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 36px;
    height: 45px;
    margin: 0 20px;
}

/* ipad pro 가로 */
@media (orientation: landscape) and (max-width:1366px) {
}
/* ipad pro 세로 */
@media (orientation: portrait)and (max-width:1024px) {
    .rending-container {
        height: 50%;
    }
    .WelcomeTitle {
       font-size: 55px;
    }
    .rendingWrap {
        background-image: url("../img/rending_T.png");
    }
}

/* ipad 가로 */
@media (orientation: landscape) and (max-width:1024px) {
    .WelcomeTitle {
        font-size: 55px;
     }
}
@media (orientation: portrait)and (max-width:768px) {
    .WelcomeTitle {
        font-size: 45px;
    }
}

@media (orientation: landscape) and (max-width:717px) {
    .leftArrow, .rightArrow {
        width: 45px;
        height: 45px;
    }
    .map {
        width: 120px;
    }
}

@media screen and (max-width:500px) {
    .rendingWrap {
        background-image: url("../img/rending_M.png");
    }
    .chat-container {
        width: 90%;
    }
    .inputWrap input {
        padding-left: 50px;
    }
    .chat-container ul li {
        font-size: 14px;
        padding: 2px 0;
    }
    .logo {
        width: 68%;
    }
    .rending-container {
        width: 90%;
    }
    .WelcomeTitle {
        font-size: 26px;
        letter-spacing: -2.6px;
    }
    .nicknameWrap {
        width: 85%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .emojiContainer span {
        font-size: 14px;
    }
    .emojiContainer {
        width: 100%;
        height: 300px;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        flex-direction: column;
    }
    .emoji {
        width: 55px;
    }
    .navigate {
        display: none;
    }
    .map {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgb(180, 200, 216);
        top: 15px;
        left: 15px;
        transform: none;
        box-shadow: 0 4px 10px 2px rgb(0 0 0 / 40%);
        background-image: url("../img/map.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .map:hover {
        transform:none;
    }
    .worldtxt {
        display: inline-block;
        width: max-content;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,110%);
        font-size: 14px;
        color: #fff;
        text-shadow: rgb(0 0 0) 1px 1px 4px;
        font-family: 'GmarketSansMedium';
    }
    .leftArrow, .rightArrow {
        width: 45px;
        height: 45px;
    }
    .selectingWrap .select {
        width: 120px;
        padding: 0;
    }
    .map img {
        display: none;
    }
}